<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark">
          <a class="navbar-brand" href="/"><i class="fa fa-pagelines fa-lg" aria-hidden="true"></i> YelpCamp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                <a class="nav-link" href="/campgrounds">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form class="form-inline mx-auto" action="/campgrounds" method= "GET">
                <div class="input-group" id="my-search">
                  <input class="form-control" id="" type="search" placeholder="find campground, cool campsite, Big Bear" aria-label="Search" name="search">
                  <div class="input-group-append">
                    <button class="btn btn-nav-search" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
              <% if(!currentUser){ %>
                  <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                    <a class="nav-link" href="/register">Sign Up</a>
                  </li>
              
              <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Signed In As <span class="text-capitalize"><%= currentUser.firstName || currentUser.username %></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
              <% } %>
            </ul>
          </div>
        </nav>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger mt-2" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success mt-2" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
    <div class="container">
        
        
