<%  include ../partials/header %>


    <div class="row camp-container">
        <div class="col-md-3">
            <h3><%= campground.name %></h3>
            <div class="card mb-3">
                <div id="map"></div>
              <div class="card-body">
                  <h6 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= campground.location %></h6>
              </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
              <img class="card-img-top camp-page-img" src="<%= campground.image %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title d-inline text-capitalize"><a><%= campground.name %></a></h5>
                <!--Uncomment to add price feature-->
                <!--<h5 class="d-inline float-right">$<%= campground.price %>/night</h5>-->
                <p class="card-text"><%= campground.description %></p>
                <p><em>Submitted by: <a href="/users/<%=campground.author.id%>" class="text-capitalize"><%= campground.author.username%></a>, <%= moment(campground.createdAt).fromNow() %></em></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a href="/campgrounds/<%=campground._id%>/edit" class="btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                        </form>
                    <% } %>
              </div>
          </div>
              <div class="card">
                 <div class="card-footer text-muted">
                    <div class="text-right">
                        <a class="btn btn-sm btn-camp" href="/campgrounds/<%=campground._id%>/comments/new">Add New Comment</a>
                    </div>
                    <hr>
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><a href="/users/<%= comment.author.id %>" class="text-capitalize"><%= comment.author.username %></a></strong>
                                <span class="d-inline float-right"><%= moment(comment.createdAt).fromNow() %></span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                    <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                    </form>
                                <% } %>
                                <hr>
                            </div>
                        </div>
                    <% }) %>
                  </div> 
              </div>
              
        </div>
    </div>

    <script>
        function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
          <strong><%= campground.name %><br />
          <%= campground.location %></strong>
          <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh5zs08CTuBh0rKXnW4Li3IW8scAVnLl4&callback=initMap"></script>


<%  include ../partials/footer %>