<%  include ../partials/header %>

<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card">
            <div class="text-center mt-2">
                <img src="<%= user.avatar %>" alt="user profile image" class="avatar-img rounded-circle card-img-top avatar-border" style="border-width: 15px">
            </div>
          <div class="card-body">
            <h5 class="card-title"><%= user.firstName + " " + user.lastName %></h5>
            <!--<h6 class="card-subtitle mb-2 text-muted">Bio:</h6>-->
            <!--<h6 class="card-subtitle mb-2 text-muted">Bio:</h6>-->
            <p class="card-text"><strong>Bio: </strong>Just fun loving adventerous guy.</p>
            <p class="card-text"><strong>Email:</strong> <a href="mailto:<%=user.email%>"><%=user.email%></a></p>
            <a href="#" class="btn btn-camp">Edit Profile</a>
          </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <h3>Your campgrounds</h3>
        <ul class="list-group">
            <% if(campgrounds.length === 0){ %>
            <li class="list-group-item">No campgrounds created</li>
            <% } %>
            <% campgrounds.forEach(function(campground){ %>
                <li class="list-group-item"><a href="/campgrounds/<%=campground.id%>"><%=campground.name%></a></li>
            <% }); %>
        </ul>
    </div>
</div>

<%  include ../partials/footer %>